*{
    /* hide cursor */
    cursor: none;
}

body{
    margin: 0;
    padding: 0;
    background: #fff;
}

.cursor {
    /* set some z-index */
    z-index: 100;
    
    position: fixed;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
    transform: translate(-50%, -50%);

    display:flex;
    justify-content: center;
    align-items: center;

    /* if you want to change the innerText stlye */
    font-size: 1rem;
    font-weight: bold;
}