/* -------------------- just for demo -------------------- */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 2rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 8px;
}

.demoDiv1{
    background: pink;
}

.demoDiv2{
    background: #a29bfe;
}

.demoDiv3{
    background: #74b9ff;
}

.demoDiv4{
    background: #81ecec;
}

a, a:visited{
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    background: #00cec9;
    border-radius: 8px;
}